@using Microsoft.AspNetCore.Identity
@model IEnumerable<Microsoft.AspNetCore.Identity.IdentityRole>
@{
    ViewData["Title"] = "RoleList";
}
@inject SignInManager<IdentityUser> _signInManager
@inject UserManager<IdentityUser> _userManager

<h1>RoleList</h1>
@if (_signInManager.IsSignedIn(User))

{
    if (User.IsInRole("Administrators"))
    {
        <p>welcome modeer</p>

    }
}
<a asp-action="CreateRole" class="btn btn-success">New Role</a>
@foreach (var role in Model)
{
    

    <div class="card">
        <div class="card-header">
            @role.Id
        </div>
        <div class="card-body">
            @role.Name
        </div>
        <div class="card-footer">
            <a asp-action="EditRole" asp-route-id="@role.Id" class="btn btn-warning">Edit</a>
            <a asp-action="DeleteRole" asp-route-id="@role.Id" class="btn btn-danger">Delete</a>

        </div>



    </div>
}
