@model ChatViewModel
@using Microsoft.AspNetCore.Builder
@using Microsoft.AspNetCore.SignalR;

<div id="chatMessages">
    @foreach (var message in Model.ChatMessages)
    {
        <div>
            <span>@message.SenderId:</span>
            <span>@message.Content</span>
            <span>@message.Timestamp.ToString("HH:mm:ss")</span>
        </div>
    }
</div>
<form id="sendMessageForm">
    <input type="text" id="messageInput" />
    <button type="submit">Send</button>
</form>

@section scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/3.1.9/signalr.min.js"></script>
    <script>
        

        $(function () {
            // Connect to the SignalR hub
           
            var chatHub = new signalR.HubConnectionBuilder()
                .withUrl("/FreeLancingWebApp/Hubs/chatHub")
                .build();

            chatHub.on("receiveMessage", function (senderId, message) {
                // Add the received message to the chat interface
                $("#chatMessages").append("<div><span>" + senderId + ":</span><span>" + message + "</span><span>" + new Date().toLocaleTimeString() + "</span></div>");
            });

            chatHub.start().catch(function (err) {
                console.error(err.toString());
            });

            $("#sendMessageForm").submit(function (event) {
                event.preventDefault();
                var message = $("#messageInput").val();
                if (message) {
                    // Send the message to the server
                    chatHub.invoke("send", '@Model.UserId', "ReceiverUserId", message).catch(function (err) {
                        console.error(err.toString());
                    });
                    $("#messageInput").val(""); // Clear the input field
                }
            });
        });
    </script>
}
